body {
    font-family: var(--fonte-principal);
    color: #333333;
}

main {
    padding: 2.5rem 1.5rem;
    max-width: 1440px;
    margin: 0 auto;
}


@media (max-width: 1280px) {
    main {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
    }
}


.btn {
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    transition: backgound-color 0.3s, border 0.3s;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #ffffff;
    line-height: 23px;

}

.btn-filled {
    background-color: #ffffff;
    color: #9654d4;
}

.btn:hover {
    background-color: #a748c4;
    color: #ffffff;
    border-color: #a748c4;
}