.hero{
    background: url('../../images/banners/hero.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.hero-overlay{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 6rem;

}

.hero-content{
    color: #ffffff;
    max-width: 360px;
    text-align: center;
}
.hero-buttons{
    display: flex;
    gap: 16px;
}

.hero-content .hero-title{
    font-size: 1.87rem;
    margin-bottom: 40px;
    font-weight: 400;
    letter-spacing: 3px;
}
.hero-content .hero-subtitle{
    font-size: 1.25rem;
    font-weight: 400;
}
.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;

}

.btn-outline{
    background: transparent;
    border: 2px solid #ffffff;
    line-height: 23px;
    
}

.btn-filled{
    background: #ffffff;
   color: rgb(150, 84, 212); 
}
.btn:hover{
    background-color: #a748c4;
    color: #ffffff;
}
